@import "tailwindcss";

@theme {
  --font-sans: "Source Sans 3", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-trs-blue: #00599c;
  --color-trs-accent-gold: #c7a97b;
  --color-trs-warning: #fff5de;
  --color-trs-error: #d11242;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
